spring:
  application:
    name: datos-prod

  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234

  sql:
    init:
      mode: always
      data-locations: classpath:productos.sql

  hikari:
    maximum-pool-size: 10
    minimum-idle: 5
    idle-timeout: 30000
    connection-timeout: 30000
    pool-name: HikariPoolMySQL

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true

    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
